---
import { getCollection } from "astro:content";
import { getDocPages } from "../../utils/pages";

export async function getStaticPaths() {
  const pages = await getCollection("docs");
  return getDocPages(pages);
}

const { page } = Astro.props;
const { framework } = Astro.params;
const { title, enterprise } = page.data;

const { Content } = await page.render();
---

<h1>[{framework}]: {title} {enterprise ? "[e]" : ""}</h1>
<Content />
