---
import { getPageSlug } from "../../utils/pages";
export async function getStaticPaths() {
  const FRAMEWORK_SLUGS = ["javascript", "react", "angular", "vue"];
  const pages = await Astro.glob("../../../content/docs/*.mdx");

  return FRAMEWORK_SLUGS.map((framework) => {
    return pages?.map((page) => {
      return {
        params: {
          framework,
          page: getPageSlug(page.url!),
        },
        props: {
          ...page,
        },
      };
    });
  }).flat();
}

const {
  Content,
  frontmatter: { title },
} = Astro.props;

const { framework } = Astro.params;
---

<h1>[{framework}]: {title}</h1>
<Content />
