---
import { getPageSlug } from "../../utils/pages";
export function getStaticPaths() {
  return [
    [
      {
        params: {
          framework: "react",
        },
      },
    ],
  ];
}

const pages = await Astro.glob("../../../content/docs/*.mdx");
console.log(getPageSlug(pages[0]?.url));
// const {
//   Content,
//   frontmatter: { title },
// } = Astro.props;

const { framework } = Astro.params;
---

<h1>[{framework}]: Testing</h1>
