---
import { getCollection } from "astro:content";
import { getDocPages } from "../utils/pages";

const docs = await getCollection("docs");
const docPages = getDocPages(docs);
---

<a href="/">&lt; Back</a>
<h1>All generated docs pages ({docPages.length})</h1>
<ul>
  {
    docPages.map((docPage: any) => (
      <li>
        Doc page:
        <pre>{JSON.stringify(docPage, null, 2)}</pre>
      </li>
    ))
  }
</ul>
