---
import { getCollection } from "astro:content";
import { getDocExampleFiles } from "../utils/pages";

const pages = await getCollection("docs");
const exampleFiles = await getDocExampleFiles({
  pages,
});
---

<a href="/">&lt; Back</a>
<h1>All generated doc example file pages</h1>
<ul>
  {
    exampleFiles.map((entryFile: any) => (
      <li>
        <div>
          entryFile:
          <pre>{JSON.stringify(entryFile, null, 2)}</pre>
        </div>
      </li>
    ))
  }
</ul>
