---
import { getCollection } from "astro:content";
import { getDocExamplePages } from "../utils/pages";

const isDev = import.meta.env.DEV;
const pages = await getCollection("docs");
const examples = await getDocExamplePages({
  isDev,
  pages,
});
---

<h1>All generated doc example pages</h1>
<ul>
  {
    examples.map((example: any) => (
      <li>
        <div>
          Example:
          <pre>{JSON.stringify(example, null, 2)}</pre>
        </div>
      </li>
    ))
  }
</ul>
