---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AG Grid: Astro edition">
  <main>
    <h1>AG Grid: Astro edition</h1>
    <h2>Example doc pages</h2>
    <ul>
      <li>
        <a href="/javascript/charts-line-series/">[javascript]: Line series</a>
      </li>
      <li><a href="/react/charts-line-series/">[react]: Line series</a></li>
      <li><a href="/angular/charts-line-series/">[angular]: Line series</a></li>
      <li><a href="/vue/charts-line-series/">[vue]: Line series</a></li>
    </ul>

    <h2>Misc</h2>
    <ul>
      <li><a href="/docs">All generated docs pages</a></li>
      <li><a href="/examples">All generated doc example pages</a></li>
      <li><a href="/example-files">All generated doc example file pages</a></li>
      <li><a href="/stackblitz">Embedded Stackblitz example</a></li>
    </ul>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
  </style>
</Layout>
