<a href="/">&lt; Back</a>
<h1>Embedded Stackblitz example</h1>
<iframe
  src="https://stackblitz.com/edit/vitejs-vite-ygk28r?embed=1&file=src%2Findex.tsx&hideExplorer=1&hideNavigation=1&view=preview"
></iframe>

<style>
  iframe {
    width: 100%;
    height: calc(100vh - 7rem);
  }
</style>
